*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.row {
  max-width: 120rem;
  /* max veut dire "si on a assez d'espace, la largeur sera de cette valeur, sinon on s'adapte
    contrairement a width qui garde en dur la largeur */
  margin: 0 auto;
  margin-bottom: 8rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    background: orange;
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.grid-tuto {
  /*
    .col-1 {width: 8.33333%;}
    .col-2 {width: 16.66667%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33333%;}
    .col-5 {width: 41.66667%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33333%;}
    .col-8 {width: 66.66667%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33333%;}
    .col-11 {width: 91.66667%;}
    .col-12 {width: 100%;}*/ }
  .grid-tuto {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto; }
  .grid-tuto:before, .grid-tuto:after,
  .grid-tuto .row-tuto:before,
  .grid-tuto .row-tuto:after {
    content: " ";
    display: table; }
  .grid-tuto:after,
  .grid-tuto .row-tuto:after {
    clear: both; }
  .grid-tuto [class*='col-'] {
    width: 100%;
    float: left;
    min-height: 1px; }
  .grid-tuto .tuto-content {
    padding: 0 0.5em;
    background: white;
    text-align: center;
    border: 1px solid #e3e3e3; }
  .grid-tuto .row-tuto {
    margin: 0 -0.5em; }
  .grid-tuto .col-x-1 {
    width: 8.33333%; }
  .grid-tuto .col-x-2 {
    width: 16.66667%; }
  .grid-tuto .col-x-3 {
    width: 25%; }
  .grid-tuto .col-x-4 {
    width: 33.33333%; }
  .grid-tuto .col-x-5 {
    width: 41.66667%; }
  .grid-tuto .col-x-6 {
    width: 50%; }
  .grid-tuto .col-x-7 {
    width: 58.33333%; }
  .grid-tuto .col-x-8 {
    width: 66.66667%; }
  .grid-tuto .col-x-9 {
    width: 75%; }
  .grid-tuto .col-x-10 {
    width: 83.33333%; }
  .grid-tuto .col-x-11 {
    width: 91.66667%; }
  .grid-tuto .col-x-12 {
    width: 100%; }
  @media only screen and (min-width: 320px) {
    .grid-tuto .col-s-1 {
      width: 8.33333%; }
    .grid-tuto .col-s-2 {
      width: 16.66667%; }
    .grid-tuto .col-s-3 {
      width: 25%; }
    .grid-tuto .col-s-4 {
      width: 33.33333%; }
    .grid-tuto .col-s-5 {
      width: 41.66667%; }
    .grid-tuto .col-s-6 {
      width: 50%; }
    .grid-tuto .col-s-7 {
      width: 58.33333%; }
    .grid-tuto .col-s-8 {
      width: 66.66667%; }
    .grid-tuto .col-s-9 {
      width: 75%; }
    .grid-tuto .col-s-10 {
      width: 83.33333%; }
    .grid-tuto .col-s-11 {
      width: 91.66667%; }
    .grid-tuto .col-s-12 {
      width: 100%; } }
  @media only screen and (min-width: 480px) {
    .grid-tuto .col-m-center {
      margin: 0 auto;
      float: none; }
    .grid-tuto .col-m-1 {
      width: 8.33333%; }
    .grid-tuto .col-m-2 {
      width: 16.66667%; }
    .grid-tuto .col-m-3 {
      width: 25%; }
    .grid-tuto .col-m-4 {
      width: 33.33333%; }
    .grid-tuto .col-m-5 {
      width: 41.66667%; }
    .grid-tuto .col-m-6 {
      width: 50%; }
    .grid-tuto .col-m-7 {
      width: 58.33333%; }
    .grid-tuto .col-m-8 {
      width: 66.66667%; }
    .grid-tuto .col-m-9 {
      width: 75%; }
    .grid-tuto .col-m-10 {
      width: 83.33333%; }
    .grid-tuto .col-m-11 {
      width: 91.66667%; }
    .grid-tuto .col-m-12 {
      width: 100%; } }
  @media only screen and (min-width: 1024px) {
    .grid-tuto .col-l-1 {
      width: 8.33333%; }
    .grid-tuto .col-l-2 {
      width: 16.66667%; }
    .grid-tuto .col-l-3 {
      width: 25%; }
    .grid-tuto .col-l-4 {
      width: 33.33333%; }
    .grid-tuto .col-l-5 {
      width: 41.66667%; }
    .grid-tuto .col-l-6 {
      width: 50%; }
    .grid-tuto .col-l-7 {
      width: 58.33333%; }
    .grid-tuto .col-l-8 {
      width: 66.66667%; }
    .grid-tuto .col-l-9 {
      width: 75%; }
    .grid-tuto .col-l-10 {
      width: 83.33333%; }
    .grid-tuto .col-l-11 {
      width: 91.66667%; }
    .grid-tuto .col-l-12 {
      width: 100%; } }
